{% extends 'base.html' %} {% block content %}
<div>
  <a href="{% url 'projects_index' %}">
    <small>&#10550; Terug naar overzicht</small></a>
  <br>
  <h2>{{ project.title }}</h2>
  <!-- <h2>{{ project.date }}</h2> -->
  <p>Auteur: {{ project.full_author_name }}</p>
  <p>{{ project.text|wordwrap:75}}</p>
  <br>
  {% if project.source_code %}
  <p class="url">Broncode: {{project.source_code | urlize}}</p>
  {% endif %}
  {% if project.project_url %}
  <p class="url">Url: {{project.project_url | urlize}}</p>
  {% endif %}
  <br>

</div>
{% endblock content %}