{% extends 'base.html' %} {% block content %}
<h1>{{ project.title }}</h1>
<br />
<small>Startdatum: {{project.project_start_date}}</small>
<div><small>Talen en frameworks: {{project.tech_stack}}</small></div>
<p>{{ project.text}}</p>
<br />{% if project.source_code %}
<p>Broncode: {{project.source_code | urlize}}</p>
{% endif %} {% if project.project_url %}
<p>Url: {{project.project_url | urlize}}</p>
{% endif %}
<br />
<a href="{% url 'projects_index' %}" <p>⤶ Terug naar overzicht</p></a>{% endblock content %}