@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('../fonts/charter_regular.woff2') format('woff2');
}

html {
  font-family: 'charter';
}

body {
  margin: 45px auto;
  max-width: 50em;
  line-height: 1.25;
  font-size: 18px;
  padding: 0 10px;
}

p {
  max-width: 35em;
  line-height: 1.4;
}

.url {
  max-width: 50em;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  font-size: 1.75em;
}

#header>h1>a {
  color: #0066cc;
}

a {
  line-height: 0.5;
  color: #0066cc;
  text-underline-offset: 2px;
  text-decoration: underline dotted;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

header a {
  line-height: 1.4;
}

a:active {
  color: red;
}

h2 {
  font-size: 1.45em;
  letter-spacing: 0.06em;
}

small {
  margin-top: 0;
}