html {
  font-family: Cambria, serif;
}
body {
  margin: 50px auto;
  max-width: 50em;
  line-height: 1.2;
  font-size: 18px;
  padding: 0 10px;
}
p {
  max-width: 35em;
}

.url {
  max-width: 50em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
}

.header-link {
  color: #0066cc;
}

a:link {
  text-underline-offset: 2px;
  text-decoration: underline dotted;
  cursor: pointer;
}

.nav-left {
  margin-right: auto;
}
.nav-right {
  display: flex;
}
