{% load static %}<!DOCTYPE html>
<html lang="en">
  <meta content="width=device-width,initial-scale=1" name="viewport" /><meta
    content="Portfolio van Hauke van der Mark"
    name="description"
  /><meta content="Hauke van der Mark" name="author" /><link
    href="data:,"
    rel="icon"
  /><meta
    content="SJXGdS5oKZytrFwYxZnRzYq8q41si2oELDGOjda516I"
    name="google-site-verification"
  /><link href="{% static 'css/base.css' %}" rel="stylesheet" /><title>
    Portfolio</title
  >{% block content%} {% endblock content %}
</html>
