{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portfolio van Hauke van der Mark" />
    <meta name="author" content="Hauke van der Mark" />
    <link rel="icon" href="data:," />
    <meta
      name="google-site-verification"
      content="SJXGdS5oKZytrFwYxZnRzYq8q41si2oELDGOjda516I"
    />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <title>Portfolio</title>
  </head>

  <body>
    {% block content%} {% endblock content %}
  </body>
</html>
